.nav-container {
    width: 40%;

    .bellotero-nav {
        align-items: center;
        display: flex;
        height: 64px;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;

        .bellotero-nav__item {
            cursor: pointer;

            a {
                color: $primary-color;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.3px;
                height: 16px;
                text-decoration: none;
                padding-top: 20px;

                &.active-item {
                    font-weight: bold;
                    border-top: 4px solid $primary-color;
                }

            }
        }
    }
}