body {
    color: $primary-color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 500;
}

.app-container {
    .containter-fluid {
    }

    .background {
        background-color: $background-color;
        height: 100%;
        min-height: 100%;
        width: 100%;
    }
}